html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
  --bg: url("./assets/background.png");
  --left: 4%;
  --right: 84%;
}

html {
  background-color: #F2F2F2;
}

body {
  font-family: "Avenir Next";
  text-align: center;
}

img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.f20 {
  font-size: 20px;
}
.f30 {
  font-size: 30px;
}
.f40 {
  font-size: 40px;
}
.f50 {
  font-size: 50px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.container {
  margin: auto;
  width: 1440px;
  height: 1024px;
  color: #565554;
  background-color: #FFFFFF;
}

.bg {
  height: 1024px;
  width: 240px;
  background-color: #DA593F;
  background-image:
  var(--bg), var(--bg), var(--bg), var(--bg),
  var(--bg), var(--bg), var(--bg), var(--bg);
  background-position:
  var(--left) 5%, var(--left) 30%, var(--left) 55%, var(--left) 79%,
  var(--right) 18%, var(--right) 42%, var(--right) 67%, var(--right) 92%;
  background-repeat: no-repeat, no-repeat;
  mix-blend-mode: normal;
}

.bg:before {
  position: relative;
  content: " ";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #DA593F;
  opacity: 0.6;
}

.main {
  width: 960px;
}

.title {
  background-color: #F6F5AE;
  background-image: url("./assets/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
}

.info {
  height: 200px;
}

.info h1 {
  font-weight: 500;
  line-height: 47px;
  margin-bottom: 15px;
}

.info p {
  line-height: 35px;
}

.step {
  flex-grow: 1;
  height: 469px;
  font-size: 20px;
}

.step:nth-child(2) {
  border-left: 2px solid #D8D8D8;
  border-right: 2px solid #D8D8D8;
}

.step p:first-child {
  height: 50px;
  font-size: 30px;
  font-weight: 500;
  line-height: 50px;
  color: #FFFFFF;
  background-color: rgba(216, 216, 216, 0.5);
}

.step p:nth-child(2) {
  margin: 24px 0px;
  font-weight: 500;
}

.step p:last-child {
  margin-top: 24px;
  opacity: 0.5;
}

.icon {
  height: 200px;
  width: 200px;
  margin: auto;
  background-color: #EBEBEB;
  border-radius: 4px;
}

.loading {
  background-image: url("./assets/loading.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 51px;
}

.footer {
  height: 155px;
}

.footer p:first-child {
  margin-top: 10px;
  font-weight: 400;
}

.footer p:nth-child(2) {
  font-weight: 500;
}

/* apply different class .processing and .done
to represent the status change */

.processing p:first-child, .processing .icon{
  background-color: #2E86AB;
}

.processing p:last-child  {
  opacity: 1;
}

.done p:first-child, .done .icon {
  background-color: #2E86AB;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.done p:last-child {
  mix-blend-mode: normal;
  opacity: 0.5;
}

/*  */
.context {
	background-color: #2E86AB;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.context p {
	margin: auto;
	color: #FFFFFF;
}

/* .order {
  background-image: var(--bg);
	background-color: #F6F5AE;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
} */

/* .order p {
	background-color: #2E86AB;
	mix-blend-mode: normal;
	opacity: 0.6;
} */
